.params
	div
		form
			.form-group
				label Продукт 1
				input.form-control( ng-model="field.data.prod1.img_src" placeholder='Image SRC URL' value="{{field.data.prod1.img_src}}" )
				input.form-control( ng-model="field.data.prod1.img_link" placeholder='Image A URL' value="{{field.data.prod1.img_link}}" )
				input.form-control( ng-model="field.data.prod1.brand" placeholder='Имя бренда' value="{{field.data.prod1.brand}}" )
				input.form-control( ng-model="field.data.prod1.name" placeholder='Название товара' value="{{field.data.prod1.name}}" )
				input.form-control( ng-model="field.data.prod1.category" placeholder='Название категории' value="{{field.data.prod1.category}}" )
				input.form-control( ng-model="field.data.prod1.price" placeholder='Цена' value="{{field.data.prod1.price}}" )
			.form-group
				label Продукт 2
				input.form-control( ng-model="field.data.prod2.img_src" placeholder='Image SRC URL' value="{{field.data.prod2.img_src}}" )
				input.form-control( ng-model="field.data.prod2.img_link" placeholder='Image A URL' value="{{field.data.prod2.img_link}}" )
				input.form-control( ng-model="field.data.prod2.brand" placeholder='Имя бренда' value="{{field.data.prod2.brand}}" )
				input.form-control( ng-model="field.data.prod2.name" placeholder='Название товара' value="{{field.data.prod2.name}}" )
				input.form-control( ng-model="field.data.prod2.category" placeholder='Название категории' value="{{field.data.prod2.category}}" )
				input.form-control( ng-model="field.data.prod2.price" placeholder='Цена' value="{{field.data.prod2.price}}" )
			.form-group
				label Продукт 3
				input.form-control( ng-model="field.data.prod3.img_src" placeholder='Image SRC URL' value="{{field.data.prod3.img_src}}" )
				input.form-control( ng-model="field.data.prod3.img_link" placeholder='Image A URL' value="{{field.data.prod3.img_link}}" )
				input.form-control( ng-model="field.data.prod3.brand" placeholder='Имя бренда' value="{{field.data.prod3.brand}}" )
				input.form-control( ng-model="field.data.prod3.name" placeholder='Название товара' value="{{field.data.prod3.name}}" )
				input.form-control( ng-model="field.data.prod3.category" placeholder='Название категории' value="{{field.data.prod3.category}}" )
				input.form-control( ng-model="field.data.prod3.price" placeholder='Цена' value="{{field.data.prod3.price}}" )
				
		//a.btn.btn-success(ng-click="save(field)") Ок
		//a.btn.btn-danger(ng-click="cancle(field)") Отмена