.params
	div
		form
			textarea.form-control(ng-model="field.data.text" placeholder='Wrote up' value="{{field.data.text}}")
		div
		//a.btn.btn-success(ng-click="save(field)") Ок
		//a.btn.btn-danger(ng-click="cancle(field)") Отмена