extends ../../common/layout.jade

block vars 
	- var language = locals.language;

block head
	include ../../common/static.head.jade

block content
	.container 
		.row
			.col-md-12.col-sm-12.col-lg-12.col-xs-12
				h1 About
