li.b-block(	type="{{block.type}}" 
						ng-class="{'disabled' : block.disabled, 'b-block--sortable' : block.sortable, 'b-block--fixed' : !block.sortable }" 
						id="{{block.id}}" )
	span.ball.quantity(ng-if="block.quantitable" ng-click="changeQuantity(field)")
	span.ball.add(ng-if="block.repeat" ng-click="copy(block, index)")
	span.remove(ng-click="remove(block, index)" ng-class="{'inactive' : block.disabled }")
	
	a(ng-click="switchField(block)") {{block.name}}
	div.template(ng-include="block.form" ng-hide="block.hidden")
		
