ngpopup
section.b-templates
  .container
    
    .row
      .col-md-12.col-lg-12.col-sm-12.col-xs-12
        h2!=lang.template
        
    .row
      .col-md-8.col-lg-9.col-sm-6.col-xs-12.col-height
        div(ng-show="templateIsChosen")
          p #{lang.choosen_template} 
            strong {{template.name}}
          p #{lang.changed} : {{template.modified | date}}
        
        div(ng-show="!templateIsChosen")
          p #{lang.choose_template}
          //- {
          //-   Block: list
          //-   Modifier : templates
          //- }      
          section(ng-hide="templateIsChosen")    
            include ./blocks/b-list--templates.jade
      .col-md-4.col-lg-3.col-sm-6.col-xs-12
        //- { 
        //-   Block : nav 
        //-   Modifier : templates
        //- }
        include ./blocks/b-nav--templates.jade
