.container
	.row
		.col-md-12.col-lg-12.col-sm-12.col-xs-12
			h3 Достуные шаблоны
			include ./blocks/b-list--templates.jade
			div.b-form--buttons
				a.b-button.b-button--danger(href="#dashboard") Отмена
