/* Buttons */
.g-wrapper {
  border-right: solid 10px #13609f;
  border-left: solid 10px #13609f;
  display: inline-block;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 0 20px;
}
.overlap-manager {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: none;
  -webkit-transform: translate3d(0, 0, 0);
}
.overlap-manager .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.6);*/
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.overlap-manager .container {
  text-align: center;
  position: relative;
  width: 400px;
  background-color: white;
  -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.69);
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.69);
  border-radius: 3px;
  padding: 15px 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 10%;
  -webkit-transition: -webkit-transform 0.15s ease, opacity 0.15s linear;
  -moz-transition: -moz-transform 0.15s ease, opacity 0.15s linear;
  -o-transition: -o-transform 0.15s ease, opacity 0.15s linear;
  transition: transform 0.15s ease,opacity 0.15s linear;
}
.overlap-manager.closed .overlay {
  opacity: 0;
}
.overlap-manager.closed .container {
  opacity: 0;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
.overlap-manager.open .overlay {
  opacity: 1;
}
.overlap-manager.open .container {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.distant {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-filter: blur(10px);
}
.new-template .container {
  width: 640px;
  margin-bottom: 20px;
}
.b-form {
  text-align: left;
}
.b-form .help-block {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}
.b-form .radio.inline {
  display: inline-block;
  margin-right: 50px;
  margin-left: 20px;
  line-height: 21px;
  margin-top: -8px;
}
.b-form--buttons {
  margin-top: 10px;
}
.b-form--buttons .ok {
  margin-right: 15px;
}
.b-form--about-link {
  margin-bottom: 5px;
}
.b-form--subform {
  text-align: left;
  margin-bottom: 15px;
}
.b-form--subform .help-info-block {
  font-size: 12px;
  color: #666;
  margin: 0;
  margin-top: -10px;
}
.b-form--custom-form {
  margin-top: 20px;
}
.b-form--custom-form .b-control--row {
  position: relative;
  padding: 10px 0;
  border-top: solid 1px #8ed0f5;
}
.b-form--custom-form .b-control--row .b-control--data {
  white-space: nowrap;
}
.b-form--custom-form .b-control--row .b-control--title {
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 14px;
  color: #444;
  font-weight: bold;
}
.b-form--custom-form .b-control--row .b-control--first_row {
  margin-bottom: 8px;
}
.b-form--custom-form .b-control--row .b-control--remove {
  position: absolute;
  top: 38px;
  right: 6px;
  font-size: 16px;
  cursor: pointer;
}
.b-form--custom-form .b-control--row .b-form--options {
  padding: 5px 10px;
}
.b-form--custom-form .b-control--row .b-form--options .b-form--option {
  position: relative;
  margin-bottom: 8px;
}
.b-form--custom-form .b-control--row .b-form--options .b-form--remove-option {
  position: absolute;
  top: 10px;
  right: -5px;
  cursor: pointer;
}
.b-form--custom-form .b-control--row .b-form--options .heading {
  color: #666;
  font-size: 12px;
}
.b-input--row {
  margin-bottom: 10px;
}
.b-input--small {
  width: 180px;
  margin-right: 5px;
  display: inline-block;
}
.b-input--large {
  width: 360px;
  margin-right: 5px;
  display: inline-block;
}
.b-input--label {
  margin-left: 5px;
}
.b-input--label input {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.b-nav {
  margin-bottom: 10px;
  border-bottom: solid 1px #13609f;
}
.b-nav .b-nav--choosen {
  font-size: 10px;
  color: #666;
  padding-left: 15px;
  margin-bottom: 5px;
}
.b-nav .b-nav-list ul {
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
}
.b-nav .b-nav-list ul li {
  display: table-cell;
  padding: 10px 15px;
  cursor: pointer;
}
.b-nav--editor .btn {
  margin-right: 10px;
}
.b-button {
  cursor: pointer;
}
.b-button--add_btn {
  background: #9f133f;
  padding: 5px;
  border-radius: 4px;
  color: white;
}
.b-editor-table thead th {
  padding-bottom: 10px;
  border-bottom: solid 2px #13609f;
}
.b-editor-table tbody td {
  vertical-align: top;
}
.b-editor-table tbody tr:first-child td {
  padding-top: 10px;
}
.b-loading-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1230;
  top: 0;
  left: 0;
}
.b-loading-box .b-preloader--icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0px auto;
  top: 316px;
  z-index: 1305;
  position: relative;
  background: url('../../img/spinner.gif');
}
body {
  text-align: center;
  background-color: #8ed0f5;
}
ul {
  list-style: none !important;
  list-style-image: none !important;
}
li a {
  color: #13609f;
}
h1 {
  text-align: center;
}
hr {
  border: none;
  width: 100%;
  margin: 15px 0;
  border-bottom: solid 1px #13609f;
}
table.main {
  vertical-align: top;
  width: 1360px;
}
.gen-demo {
  vertical-align: top;
  padding: 5px;
  width: 960px;
}
.gen-content {
  vertical-align: top;
  width: 400px;
  padding: 10px;
  text-align: left;
}
th {
  text-align: center;
}
.gen-sanitize {
  padding: 15px;
}
.gen-content section {
  margin-bottom: 20px;
}
textarea {
  font-family: monospace;
  width: 100%;
  margin-bottom: 20px;
}
.gen-data {
  padding: 0 15px;
}
.gen-list {
  min-width: 300px;
  list-style: none;
  padding: 0;
  margin: 0 15px;
  text-align: left;
}
.gen-list li {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #8ab3e6;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 110%;
  padding-left: 15px;
  position: relative;
}
.gen-list li.dirty:before {
  content: "*";
  color: #f683a8;
  position: absolute;
  left: -15px;
  top: 8px;
  font-size: 110%;
}
.gen-list li .quantity:after {
  color: black;
  content: "1";
  position: relative;
  top: -1px;
  left: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.gen-list li.plural .quantity:after {
  content: "∞";
  top: -1px;
  left: 4px;
  font-size: 17px;
}
.gen-list li[type='s'] {
  background-color: #F7DCE4;
}
.gen-list li[type='t'] {
  background-color: #c6e6ff;
}
.gen-list li[type='g'] {
  background-color: #e6c58a;
}
.gen-list li[type='r'] {
  background-color: #b4c69d;
}
.gen-list .btn {
  margin-right: 10px;
}
.red-ball .remove,
.gen-item .remove {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #ee4a4a;
  border-radius: 50%;
}
.red-ball .remove {
  position: relative;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
.red-ball .remove.inactive,
.gen-item .remove.inactive {
  background: green;
}
.red-ball .remove.inactive,
.gen-item .remove.inactive:after {
  content: "⊕" !important;
}
.red-ball .remove:after,
.gen-item .remove:after {
  color: white;
  content: "⊗";
  position: relative;
  top: 0px;
  left: 2px;
  font-size: 19px;
  line-height: 20px;
}
.red-ball .remove:after {
  font-size: 16px;
  top: -1px;
}
.gen-item .ball {
  top: 5px;
  position: absolute;
  right: 40px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: white;
  border-radius: 50%;
}
.gen-item .add:after {
  color: black;
  content: "⇩";
  position: relative;
  top: 1px;
  left: 2px;
  font-size: 19px;
  line-height: 20px;
  font-weight: bold;
}
.notready {
  opacity: 0;
}
.center {
  text-align: center;
}
.disabled {
  background-color: #bcbcbc !important;
}
.disabled .ball {
  display: none;
}
ul .params {
  padding: 15px 0;
}
ul .params input {
  margin-bottom: 5px;
}
.edit-mark {
  display: inline-block;
  color: #f683a8;
  font-size: 110%;
}
.sortable-item {
  display: block;
  width: 350px;
}
.pannel {
  height: 45px;
}
.pannel .btn {
  margin-right: 20px;
}
.gen-data label {
  font-size: 14px;
}
#structure-sticky-wrapper {
  height: inherit !important;
}
.is-sticky #structure {
  background: white;
  z-index: 9900;
}
.b-control--row {
  margin-bottom: 15px;
}
