// Ленточка: {{field.data[field.quantity ? 'plural' : 'singular' ].name}} 
div(style="height: 40px; width: 100%; margin-top: 25px; margin-bottom: 0px; background-image: url('http://pudra.ru/skins/pudra/mail/email_letter/img/common/ribbon/gray_ribbon_02.png'); text-align: center;")
	img(vspace="0" hspace="0" ng-src="http://pudra.ru/skins/pudra/mail/email_letter/img/common/headings/heading{{field.data[field.quantity ? 'plural' : 'singular'].number}}.png" width="{{field.data[field.quantity ? 'plural' : 'singular'].width}}" height="{{field.data[field.quantity ? 'plural' : 'singular'].height}}" alt="{{field.data[field.quantity ? 'plural' : 'singular'].name}}" style="display: inline-block;")
table(border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 10px; height: 2px;")
	tbody
		tr
			td(height="2" backgound="http://pudra.ru/skins/pudra/mail/email_letter/img/textures/shadow2x2.png" style="background-image: url('http://pudra.ru/skins/pudra/mail/email_letter/img/textures/shadow2x2.png');")
