// Интро
table(border="0" cellpadding="0" cellspacing="0" style="width: 100%; padding-left: 5px; padding-right: 5px; border-spacing: 0px; margin-bottom:15px")
	tbody
		tr
			td(align="center")
				table(style="border-right-width: 1px; border-left-width: 1px; border-right-color: #eadbdf; border-left-color: #eadbdf; border-style: none solid; max-width: 696px; width: 100%; background: #ffffff;" cellpadding="0" cellspacing="0")
					tbody
						tr
							td(style="padding-top: 10px; padding-left: 20px; padding-right: 20px;")
								hr(style="border-style: solid; border-width: 1px; border-color: #F5DCE2; border-top: 0px;")
						tr
							td(align="left" style="padding-left: 20px; padding-right: 20px; max-width: 696px;")
								p(style="font-size: 22px; color: #ec829d; margin-top: 0px; margin-bottom: 15px;") {{field.data.syntax}}
								p(style="line-height: 20px; margin: 0px; margin-bottom: 10px; font-size: 16px; font-family: Helvetica; color: #41484a;") {{field.data.text}}
						tr
							td(style="padding-bottom: 10px; padding-left: 20px; padding-right: 20px;")
								hr(style="border-style: solid; border-width: 1px; border-color: #F5DCE2; border-top: 0px;")
						tr
							td(height="2")
								table(border="0" cellpadding="0" cellspacing="0" style="width: 100%;")
									tbody
										tr
											td(height="2" backgound="http://pudra.ru/skins/pudra/mail/email_letter/img/textures/shadow2x2.png" style="background-image: url('http://pudra.ru/skins/pudra/mail/email_letter/img/textures/shadow2x2.png');")
											