// Таблица
table(border="0" cellpadding="0" cellspacing="0" style="margin-top: 10px; margin-bottom: 15px; width: 100%;")
	tbody
		tr
			td(style="max-width: 639px; padding: 0px 30px;" align="center")
				div(width="221" height="390" style="width: 221px; min-height: 370px; height: {{settings.height}}; padding-top: 5px; padding-bottom: 8px; display: inline-block; margin-right: 5px;")
					table(border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 10px; width: 100%; height: 385px;")
						tbody
							tr
								td(align="center" bgcolor="#ffffff" style="border-right-width: 1px; border-right-color: #E5E5E5; border-right-style: solid; border-spacing: 0px; border-bottom-width: 1px; border-bottom-color: #E5E5E4; border-bottom-style: solid;")
									table(border="0" cellpadding="0" cellspacing="0" style="color: #000000; width: 100%; height: 370px;")
										tbody
											tr
												td(align="center" style="padding-bottom: 10px; padding-top:5px")
													a(href="{{field.data.prod1.img_link|link}}" target="_blank")
														img(ng-src="{{field.data.prod1.img_src}}" width="210" height="210" style="margin: 0px;" alt="{{field.data.prod1.img_alt}}")
												
													div(style="color: #e497ab; font-size: 12px; text-transform: uppercase; margin-bottom: 8px; margin-top:2px") {{field.data.prod1.brand}}
													div(style="margin-bottom: 5px; font-size: 20px; color: #000000; padding:0 5px;") {{field.data.prod1.name}}
													div(style="font-size: 12px; text-transform: uppercase; letter-spacing: 1px; color: #958e8f; margin-bottom: 10px;") {{field.data.prod1.category}}
													div(style="margin-bottom: 10px; font-weight: bold; font-size: 14px; color: #000000;") {{field.data.prod1.price}}
													a(href="{{field.data.prod1.img_link|link}}" target="_blank")
														img(src="http://pudra.ru/skins/pudra/mail/email_letter/img/common/pinkbtn.png")
				div(width="221" height="390" style="width: 221px; min-height: 370px; height: {{settings.height}}; padding-top: 5px; padding-bottom: 8px; display: inline-block; margin-right: 5px;")
					table(border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 10px; width: 100%; height: 385px;")
						tbody
							tr
								td(align="center" bgcolor="#ffffff" style="border-right-width: 1px; border-right-color: #E5E5E5; border-right-style: solid; border-spacing: 0px; border-bottom-width: 1px; border-bottom-color: #E5E5E4; border-bottom-style: solid;")
									table(border="0" cellpadding="0" cellspacing="0" style="color: #000000; width: 100%; height: 370px;")
										tbody
											tr
												td(align="center" style="padding-bottom: 10px; padding-top:5px")
													a(href="{{field.data.prod2.img_link|link}}" target="_blank")
														img(ng-src="{{field.data.prod2.img_src}}" width="210" height="210" style="margin: 0px;" alt="{{field.data.prod2.img_alt}}")
													div(style="color: #e497ab; font-size: 12px; text-transform: uppercase; margin-bottom: 8px; margin-top:2px") {{field.data.prod2.brand}}
													div(style="margin-bottom: 5px; font-size: 20px; color: #000000; padding:0 5px;") {{field.data.prod2.name}}
													div(style="font-size: 12px; text-transform: uppercase; letter-spacing: 1px; color: #958e8f; margin-bottom: 10px;") {{field.data.prod2.category}}
													div(style="margin-bottom: 10px; font-weight: bold; font-size: 14px; color: #000000;") {{field.data.prod2.price}}
													a(href="{{field.data.prod2.img_link|link}}" target="_blank")
														img(src="http://pudra.ru/skins/pudra/mail/email_letter/img/common/pinkbtn.png")

				div(width="221" height="390" style="width: 221px; min-height: 370px; height: {{settings.height}}; padding-top: 5px; padding-bottom: 8px; display: inline-block; margin-right: 5px;")
					table(border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 10px; width: 100%; height: 385px;")
						tbody
							tr
								td(align="center" bgcolor="#ffffff" style="border-right-width: 1px; border-right-color: #E5E5E5; border-right-style: solid; border-spacing: 0px; border-bottom-width: 1px; border-bottom-color: #E5E5E4; border-bottom-style: solid;")
									table(border="0" cellpadding="0" cellspacing="0" style="color: #000000; width: 100%; height: 370px;")
										tbody
											tr
												td(align="center" style="padding-bottom: 10px; padding-top:5px")
													a(href="{{field.data.prod3.img_link|link}}" target="_blank")
														img(ng-src="{{field.data.prod3.img_src}}" width="210" height="210" style="margin: 0px;" alt="{{field.data.prod3.img_alt}}")

													div(style="color: #e497ab; font-size: 12px; text-transform: uppercase; margin-bottom: 8px; margin-top:2px") {{field.data.prod3.brand}}
													div(style="margin-bottom: 5px; font-size: 20px; color: #000000; padding:0 5px;") {{field.data.prod3.name}}
													div(style="font-size: 12px; text-transform: uppercase; letter-spacing: 1px; color: #958e8f; margin-bottom: 10px;") {{field.data.prod3.category}}
													div(style="margin-bottom: 10px; font-weight: bold; font-size: 14px; color: #000000;") {{field.data.prod3.price}}
													a(href="{{field.data.prod3.img_link|link}}" target="_blank")
														img(src="http://pudra.ru/skins/pudra/mail/email_letter/img/common/pinkbtn.png")
