- var lang = locals.lang;


nav.b-header--nav 
	.container
		.row
			ul.b-nav.b-nav--main
				li.col-md-3.col-lg-3.col-sm-6.col-xs-6
					a(href="/#/home")!=lang.index
				li.col-md-3.col-lg-3.col-sm-6.col-xs-6
					a(href="/about")!=lang.about
				li.col-md-3.col-lg-3.col-sm-6.col-xs-6
					a(href="/#/dashboard")!=lang.dashboard
				li.col-md-3.col-lg-3.col-sm-6.col-xs-6
					a(href="#/api")!=lang.api
