.ng-popup.overlap-manager.closed(ngpopup style="display:none")
  .overlay
  .container
    div.i-area(ng-include="contentUrl")
    
    div.b-form--buttons(ng-hide="!innerButtons")
      a.ok.b-button.b-button--success(ng-click="onSave()") Ок
      a.b-button.b-button--danger(ng-click="onCancle()" class="btn btn-danger") Закрыть
