.b-form{
  text-align: left;

  .help-block{
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .radio.inline{
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
    line-height: 21px;
    margin-top: -8px;
  }

}
