- var language = locals.language;

doctype html
html(lang=language, ng-app="pecApp")
	head
	include ./head.jade
	body(sizematch, ng-controller="mainCtrl")
		preloader(class="root", speed="700", timeout="1000", init='true')
			
		.g-wrapper.notready(main-wrapper)
			header
				h1!=title
				hr

			section.b-nav
				nav(ng-show="templateIsChosen", ng-class="{ 'b-nav--collapsed': !menu.state }" swipe-menu="false")
					span.js-rotate.b-nav--icon.glyphicon.glyphicon-th-large(ng-class="{rotated : menu.state}")
					ul.b-nav-list.js-list
						li(ng-click="editTemplate(true)") Новый шаблон
						li(ng-click="changeTemplate()") Сменить шаблон
						li(ng-click="editTemplate(false)") Редактировать шаблон
						li(ng-click="deleteTemplate()") Удалить шаблон

				p.b-nav--choosen(ng-show="templateIsChosen && !menu.state") Выбран шаблон
					strong {{template.name}}
			
			include ./templates.jade

			main#b-editor(main-table="true", ng-show="templateIsChosen", ng-controller="editCtrl")
				section.b-nav--editor
					a.btn.btn-primary(ng-click='compile()') Скомпилировать
					a.btn.btn-warning(ng-click="loadFile()") Загрузить макет
					a.btn.btn-success(ng-click="saveFile()") Сохранить макет

				table.b-editor-table
					thead
						tr
							th.center(width="300")
								h3 Настройки
							th.center(width="{{tablewidth}}")
								h3 Просмотр
					tbody
						tr
							td.b-editor--config

								section.b-editor--blocks
									h4.no-margin Блоки

									list(fields="blocks")
									
								section.b-editor--info(ng-collapsible)
										h4 Подсказки
											i.glyphicon.glyphicon-chevron-down.js-ico.__up__
										div.b-editor--about-info.js-pane
											div
												span.edit-mark * - отредактированные элементы
											div
												span.red-ball
												span.remove
													span - удалить элемент из структуры
											div
												span.red-ball
												span.remove.inactive
												span - вернуть элемент в структуру
											div
												span.ball.add - добавить

								section
									h3 Переменные
									ng-form

									h3 Advanced
										.gen-data
											form.form-horizontal#vars
												.form-group
													label.col-sm-2.control-label Автосохранение
													.col-sm-10(style="text-align:center;")
														input(type='checkbox' ng-model="settings.autosave" checked="{{settings.autosave}}" ng-change="switchAutosave()")

									h3 Адативный тест
										.gen-data
											form.form-horizontal#responsive
												.form-group
													label.col-sm-2.control-label Ширина
													.col-sm-10
														select.form-control( ng-model='tablewidth' value="{{tablewidth}}")
															option 960
															option 768
															option 480
															option 320
															option 1024

							td.gen-demo(width="{{tablewidth}}" letter)
								div#main-table(ng-include="templateUrl")


		ngpopup
