- var language = locals.language;

doctype html
html(lang=language, ng-app="pecApp")
	head
	include ./head.jade
	body(sizematch, ng-controller="mainCtrl")
		preloader(class="root", speed="700", timeout="1000", init='true')
			
		.g-wrapper.notready(main-wrapper)
			header
				h1!=title
				hr
			
			section.b-nav 
				nav.b-nav-list(ng-show="templateIsChosen")
					ul
						li(ng-click="editTemplate(true)") Новый шаблон
						li(ng-click="changeTemplate()") Сменить шаблон
						li(ng-click="editTemplate(false)") Редактировать шаблон
						li(ng-click="deleteTemplate()") Удалить шаблон
				p.b-nav--choosen(ng-show="templateIsChosen") Выбран шаблон {{template.name}}
			include ./templates.jade
			
			table.b-editor(main-table="true", ng-show="templateIsChosen", ng-controller="editCtrl")
				tr
					td(colspan="2")
						.pannel
							a.btn.btn-primary(ng-click='compile()') Получить код
							a.btn.btn-warning(ng-click="loadFile()") Загрузить
							a.btn.btn-success(ng-click="saveFile()") Сохранить
				tr
					td.center
						h2 Настройки
					td.center(width="{{tablewidth}}")
						h2 Демо
				tr
					td.gen-content
						#structure
							section
								h3(style='margin-top:0px;') Блоки

								list(fields="fields")

								#about.gen-data
									div
										span.edit-mark * - отредактированные элементы
									div
										span.red-ball
											span.remove
											span - удалить элемент из структуры
									div
										span.red-ball
											span.remove.inactive
											span - вернуть элемент в структуру
									div
										span.ball.add - добавить
							section
								h3 Переменные
								.gen-data
									vars(fields="emailFields")
									
								h3 Advanced
									.gen-data
										form.form-horizontal#vars
											.form-group
												label.col-sm-2.control-label Автосохранение
												.col-sm-10(style="text-align:center;")
													input(type='checkbox' ng-model="settings.autosave" checked="{{settings.autosave}}" ng-change="switchAutosave()")
													
								h3 Responsive test
									.gen-data
										form.form-horizontal#responsive
											.form-group
												label.col-sm-2.control-label Ширина
												.col-sm-10
													select.form-control( ng-model='tablewidth' value="{{tablewidth}}")
														option 960
														option 768
														option 480
														option 320
														option 1024

					td.gen-demo(width="{{tablewidth}}" letter)
						etemplate(template="template")

		ngpopup
