section(ng-controller="editTemplateCtrl")

  h3 Создать новый шаблон

  form.b-form.form-horizontal
    fieldset
        legend Шаблон письма 
        
        .control-group
          label.control-label Название
          .controls
            input.form-control(type="text", 
                              pattern="[A-Za-z][A-Za-z0-9]+", 
                              ng-model="tpl.name"
                              value="{{tpl.name}}")
            p.help-block Дайте название, помните о том, что файл обертки должен лежать в директории files/templates/<название>/wrapper.html
        
        .control-group
          label.control-label Движок шаблонов
          .controls
            label.radio.inline
              input(type="radio", ng-model="tpl.templates", value="html", ng-checked="tpl.templates == 'html'")
              span HTML
            label.radio.inline
              input(type="radio", ng-model="tpl.templates", value="jade", ng-checked="tpl.templates == 'jade'")
              span Jade
      
            p.help-block Выберите формат шаблонов

  pec-form(fields="tpl.variables")

  section.b-form--errors(ng-if="errors.length > 0")
    h4 Найдены следующие ошибки
    ul
      li(ng-repeat="error in errors") Поле - {{error.field}}, ошибка: "{{error.message}}"

  div
    a(href="#/about") О правилах связывания переменных
  
  div
    a(ng-click="onSave()" class="btn btn-primary") Ок
    a(ng-click="onCancle()" class="btn btn-danger") Закрыть
