@import "variables.less";

.g-wrapper{
	// border-right: solid 10px @g-primary;
	// border-left: solid 10px @g-primary;
	// display: inline-block;
	// text-align: left;
	// padding: 0 20px;

	.container{
			// display: inline-block;
			background-color: rgba(255, 255, 255, 0.92);
	}
}

.g-hidden{
	display: none !important;
}

.g-outspace--10{
	margin: 0 10px;
}

.g-outspace--15{
	margin: 0 15px;
}

.g-outspace--20{
	margin: 0 20px;
}
