.params
	div
		form
			input.form-control(ng-model="field.data.link" placeholder='Link URL' value="{{field.data.link}}")
			input.form-control(ng-model="field.data.url" placeholder='IMG URL' value="{{field.data.url}}")
			input.form-control(ng-model="field.data.alt" placeholder='Image ALT' value="{{field.data.alt}}")
		div
		//a.btn.btn-success(ng-click="save(field)") Ок
		//a.btn.btn-danger(ng-click="cancle(field)") Отмена